
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  input, textarea {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    padding: 10px;
    font-size: 16px;
    background-color: #4caf50;
    color: rgb(37, 35, 35);
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  
  .wordTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .wordTable th, .word-table td {
    padding: 10px;
    border: 1px solid #e6dede;
    text-align: left;
    color: #898d89;
  }
  
  .wordTable th {
    background-color: #f4f4f4;
  }
  