$primary-color: #3498db;
$secondary-color: #2ecc71;
$danger-color: #e74c3c;
$bg-color: #f4f4f9;
$border-color: #ccc;
$font-family: 'Arial', sans-serif;
$font-size: 16px;
$padding: 12px;
$border-radius: 8px;
$transition-time: 0.3s;


html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-family;
  height: 100%;
}

.App {
  font-family: $font-family;
  background-color: $bg-color;
  padding: 20px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app-content {
  flex-grow: 1; 
}

h1 {
  color: $primary-color;
  font-size: 2rem;
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table th,
table td {
  padding: $padding;
  text-align: left;
  border: 1px solid $border-color;
}

table th {
  background-color: $primary-color;
  color: #fff;
}

button {
  background-color: $primary-color;
  color: white;
  border: none;
  padding: $padding;
  border-radius: $border-radius;
  cursor: pointer;
  transition: all $transition-time;
  margin: 10px;
}

button:hover {
  background-color: $secondary-color;
}

button:focus {
  outline: 2px solid $primary-color;
}

button:active {
  background-color: $danger-color;
}

input,
textarea {
  width: 100%;
  padding: $padding;
  border: 1px solid $border-color;
  border-radius: $border-radius;
  margin-bottom: 10px;
}

input:focus,
textarea:focus {
  border-color: $primary-color;
  outline: none;
}

.editing td {
  background-color: #f0f0f0;
}

.editing input {
  border: 1px solid $secondary-color;
}

.editing button {
  background-color: $secondary-color;
}


.carousel-container {
  position: relative;
  border-radius: 10px;
  max-width: 400px;
  height: 300px;
  margin: 20px auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

}


.carousel-container button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  border-radius: 50%;
  font-size: 30px;
  color: $primary-color;
  cursor: pointer;
  transition: background-color $transition-time;
  padding: 15px;
  z-index: 10;

}

.carousel-container button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.carousel-container button:focus {
  outline: 2px solid $primary-color;
}

.carousel-container button:active {
  background-color: $danger-color;
}


.prev {
  left: -100px;
}


.next {
  right: -100px;
}


.carousel-item {
  opacity: 0;
  transform: translateX(100%);
  transition: opacity 0.5s ease, transform 0.5s ease;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.carousel-item.show {
  opacity: 1;
  transform: translateX(0);
}


.carousel-item.hide {
  opacity: 0;
  transform: translateX(-100%);
}

main {
  margin-top: 80px; 
}