
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}

.navbar__logo {
  display: flex;
  align-items: center;
}

.navbar__logo-link {
  text-decoration: none;
}

.navbar__logo-image {
  width: 50px;
  height: auto;
}

.navbar__links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar__item {
  margin-left: 20px;
}

.navbar__link {
  text-decoration: none;
  color: white;
  font-size: 18px;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.navbar__link:hover {
  background-color: #575757;
}